<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>11d</key>
	<string>V</string>
	<key>09d</key>
	<string>F</string>
	<key>10d</key>
	<string>S</string>
	<key>13d</key>
	<string>W</string>
	<key>50d</key>
	<string>N</string>
	<key>01d</key>
	<string>A</string>
	<key>02d</key>
	<string>C</string>
	<key>03d</key>
	<string>P</string>
	<key>04d</key>
	<string>P</string>
	<key>01n</key>
	<string>I</string>
	<key>02n</key>
	<string>J</string>
	<key>03n</key>
	<string>P</string>
	<key>04n</key>
	<string>P</string>
	<key>09n</key>
	<string>K</string>
	<key>10n</key>
	<string>S</string>
	<key>11n</key>
	<string>V</string>
</dict>
</plist>
