<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>200</key>
	<string>U</string>
	<key>201</key>
	<string>U</string>
	<key>202</key>
	<string>V</string>
	<key>210</key>
	<string>T</string>
	<key>211</key>
	<string>U</string>
	<key>212</key>
	<string>V</string>
	<key>221</key>
	<string>T</string>
	<key>230</key>
	<string>T</string>
	<key>231</key>
	<string>U</string>
	<key>232</key>
	<string>U</string>
	<key>300</key>
	<string>K</string>
	<key>301</key>
	<string>K</string>
	<key>302</key>
	<string>K</string>
	<key>311</key>
	<string>K</string>
	<key>312</key>
	<string>K</string>
	<key>313</key>
	<string>K</string>
	<key>314</key>
	<string>K</string>
	<key>321</key>
	<string>K</string>
	<key>500</key>
	<string>K</string>
	<key>501</key>
	<string>R</string>
	<key>502</key>
	<string>S</string>
	<key>503</key>
	<string>S</string>
	<key>504</key>
	<string>S</string>
	<key>511</key>
	<string>S</string>
	<key>520</key>
	<string>R</string>
	<key>521</key>
	<string>R</string>
	<key>522</key>
	<string>S</string>
	<key>531</key>
	<string>K</string>
	<key>600</key>
	<string>W</string>
	<key>601</key>
	<string>W</string>
	<key>602</key>
	<string>W</string>
	<key>611</key>
	<string>X</string>
	<key>612</key>
	<string>X</string>
	<key>615</key>
	<string>X</string>
	<key>616</key>
	<string>X</string>
	<key>620</key>
	<string>W</string>
	<key>621</key>
	<string>W</string>
	<key>622</key>
	<string>W</string>
	<key>701</key>
	<string>N</string>
	<key>711</key>
	<string>G</string>
	<key>721</key>
	<string>E</string>
	<key>731</key>
	<string>Z</string>
	<key>741</key>
	<string>N</string>
	<key>751</key>
	<string>A</string>
	<key>761</key>
	<string>A</string>
	<key>762</key>
	<string>A</string>
	<key>771</key>
	<string>Y</string>
	<key>781</key>
	<string>d</string>
	<key>800</key>
	<string>I</string>
	<key>801</key>
	<string>J</string>
	<key>802</key>
	<string>J</string>
	<key>803</key>
	<string>P</string>
	<key>804</key>
	<string>P</string>
	<key>900</key>
	<string>d</string>
	<key>901</key>
	<string>V</string>
	<key>902</key>
	<string>e</string>
	<key>903</key>
	<string>o</string>
	<key>904</key>
	<string>h</string>
	<key>905</key>
	<string>a</string>
	<key>906</key>
	<string>o</string>
	<key>950</key>
	<string></string>
	<key>951</key>
	<string>I</string>
	<key>952</key>
	<string>b</string>
	<key>953</key>
	<string>b</string>
	<key>954</key>
	<string>b</string>
	<key>955</key>
	<string>b</string>
	<key>956</key>
	<string>b</string>
	<key>957</key>
	<string>z</string>
	<key>958</key>
	<string>z</string>
	<key>959</key>
	<string>Y</string>
	<key>960</key>
	<string>Y</string>
	<key>961</key>
	<string>Y</string>
	<key>962</key>
	<string>Y</string>
</dict>
</plist>
